.product-save{
    .form{
      padding-top:15px;
    }
    .fc{
        padding: 15px 0;
        text-align: center;
    }
    .control{
        width: 60%;
    }
    .control-half{
        width: 30%;
    }
    .btn{
        color: #fff;
    }
}
.font {
    font-size: 14px !important;
}
