.product {
    .table {
        padding: 10px 0;
    }
    .card-box {
        margin-bottom: 30px;
    }
    .operation {
        padding-left: 12px;
    }
    .search {
        display: flex;
        padding: 15px;
    }
    .fc-select {
        margin-top: 34px;
    }
    .fc {
        padding: 15px;
    }
    label {
        font-size: 14px !important;
    }
    .btn {
        color: #fff;
        font-size: 16px;
    }
}

.font {
    font-size: 14px !important;
}