.header-content {
    display: flex;
    width: 100%;
    .dropdown-link {
        color: rgba(0, 0, 0, 0.65);
        font-size: 16px;
        font-weight: 200;
    }
    .header-menu {
        width: calc(100% - 200px);
    }
    .header-dropdown {
        width: 200px;
        padding-right: 60px;
        display: flex;
        flex-direction: row-reverse;
    }
}