body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

html,
body,
#app {
    height: 100%
}

a:link,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

label{
    font-size: 14px !important;
}
input:-webkit-autofill{ -webkit-box-shadow:0 0 0px 1000px #fff inset;}
@import '~antd/dist/antd.css';
